#idCarouselCard{
    height:15rem;
    width:92%;
}
#idDivNotFoundFav{
    position: relative !important;
    right: 10px !important;
}
@media screen and (max-width:800px){
    #idDivNotFoundFav{
        width:50% !important;
    }
}
@media screen and (max-width:450px){
    #idDivNotFoundFav{
        width:75% !important;
    }
}