#id-i-check{
    font-size: 4rem;
}
@media screen and (max-width:1393px){
    #idContainerSignIn{
        width: 26rem !important;
    }
}
@media screen and (max-width:450px){
    #idContainerSignIn{
        width: 100% !important;
    }
}